/**
    Hello World!
    - The Web App Starter Template
    By: Daniel Peña  /  github.com/leinadpb/wast
    Main Styles - 9/03/2018
*/

//Color guide
$black: #000000;
$gray: #373B3A;
$dark_green: #054F35;
$light_green: #097A53;
$white: #F7F7F7;
$big_space: 70px;
$mid_space: $big_space / 2;
$tin_space: $big_space / 3;
$comment_box_height: 160px;

/* General */
body{
    background-color:$dark_green;
}
.big-v-space{
    width:100%;
    height:$big_space;
}
.mid-v-space {
    width:100%;
    height: $mid_space;
}
.tin-v-space{
    width:100%;
    height:$tin_space;
}

/* Box */
.box{
    padding:0.5em;
    text-align:center;
    //margin:0.9em;
    background-color:$white;
}
.box .title{
    font-size:2.5em;
    color:$light_green;
}
.box .subtitle{
    font-size:0.95em;
    color:$dark_green;
}
.user-info {
    padding: 0.4em;
    background-color: $white;
}

.user-info .divider {
    margin-left: 6px;
    margin-right: 6px;
}

/* Content */
.content .section{
    text-align:center;
    margin:0.4em;
    padding:0.6em;
}
.content .title{
    font-size:3.0em;
    color:$white;
}
.content .desc{
    color:$light_green;
    font-size:1.25em;
    font-style:italic;
}

/* Download section */
.download-section{
    text-align:center;
    padding:0.7em;
    color:white;
}
.download-section .icon {
    position:relative;
    font-size: 6em;
    animation: anim-download-button 2s ease-in-out infinite;
}
.download-section .download-button{
    margin-top:20px;
    border:2px solid $light_green;
    border-radius:5px;
    background-color:$white;
    color:$dark_green;
    transition:0.2s ease;
    
}
.download-section .download-button:hover {
    border: 2px solid $light_green;
    border-radius: 5px;
    background-color: $dark_green;
    color: $white;
}

/* Chat */
.chat-button {
    position: fixed;
    z-index:99;
    width: 50px;
    height: 50px;
    background-color: #009ac4;
    border-radius: 25px;
    text-align: center;
    font-size: 2.0em;
    color: $white;
}
.chat-button:hover{
    cursor:pointer;
}
.view-comments-section {
    margin-top: 0.7em;
}
.list-group-item .comment-date {
    color:$light_green;
    font-style:italic;
}
.list-group-item .comment-user {
    color:$dark_green;
    font-weight:600;
}
.list-group-item .comment-msg {
    color:#000;
}
.view-comments-section{
    height:$comment_box_height;
    overflow-y:scroll;
}
.footer .footer-bottom {
    margin-top: 1.3em;
    width: 100%;
    height: auto;
    padding: 0.4em;
    text-align:center;
    color: $white;
    background-color: $black;
    font-size: 1.0rem;
}

/* Bootstrap Styles Overwrites */
.list-group-item {
    background-color: none;
}

/* Keyframes */
@keyframes anim-download-button {
    0% {
        top: 0px;
    }

    25% {
        top: 40px;
    }

    50% {
        top: 20px;
    }

    75% {
        top: 40px;
    }

    100% {
        top: 0px;
    }
}